.weather {
    background-color: #1E213A;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width:960px) {
        width: 100vw;
        min-height: 500px;
    }

    .container-loading {

        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .loading-text {
            font-size: 3.5rem;

        }

        .loading-icon {
            font-size: 5rem;
        }


    }
}

.control-weather {

    width: calc(100% - 92px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 42px;

    @media screen and (max-width:610px) {
        margin-top: 18px;
        width: calc(100% - 11px);
    }

    .btn-search {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 18.78px;
        color: hsl(240, 9%, 91%);
        background: hsl(230, 5%, 45%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 11px 18px;
        border: none;
        transition: 0.2s all ease-in-out;

        &:hover {
            background: hsl(230, 5%, 50%);
            color: hsl(240, 9%, 86%);
        }
    }


}

.container-icone-weather {
    width: 100%;
    display: grid;
    place-content: center;
    height: 350px;
    position: relative;

    @media screen and (max-width:610px) {
        height: 290px;
    }

    &::before {
        content: '';
        background-image: url('../../assets/img/Cloud-background.png');
        background-position: 50%;
        background-size: cover;
        bottom: 0;

        left: 0;
        opacity: 5%;
        position: absolute;
        right: 0;
        top: 0;
    }

    img {

        margin-top: 25px;



    }
}

.info-weather {
    .number-temp {
        font-weight: 500;
        font-size: 4.8rem;
        color: #E7E7EB;

    }

    .temp-text {
        font-weight: 500;
        color: #A09FB1;
        font-size: 2.5rem;
    }
}

.weather-situation {
    font-weight: 600;
    font-size: 2.6rem;
    text-align: center;

    color: #A09FB1;
    margin: 20px 0;
}

.container-data {

    display: flex;
    justify-content: center;
    align-items: center;
    color: #88869D;

    p {
        font-weight: 500;
        font-size: 1.8rem;
    }

    span {
        width: 3px;
        height: 3px;
        background-color: #88869D;
        border-radius: 50%;
        margin: 0 16px;
    }
}

.location {
    display: flex;
    align-items: center;
    gap: 9;
    color: #88869D;
    font-weight: 600;
    font-size: 1.6rem;
    margin-top: 20px;
    margin-bottom: 20px;
}